<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mblog</title>
</head>

<body>
    {% load markdown_deux_tags %}
    <h1>{{post.title}}</h1>
    <hr>
    <p>
        <small>
            {{post.body | markdown }}
        </small>
    </p>
    <hr>
    <p>
        {{post.pub_date}}
    </p>
    <h3>
        <a href="/mblog"> back </a>
    </h3>
</body>

</html>