<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>

<body>
    <form name="my form" action="." method="POST">
        {% csrf_token %}
        <p>
            {{ form.as_ul}}
        </p>
        <input type="submit" value="送出">
    </form>

    <hr>
    {{ message }} <br>
    {{ user_name}} <br>
    {{ user_city}}
</body>

</html>